body {
    background-color: rgb(184, 189, 190);
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: rgb(105, 190, 40);
}

#nav-logo {
    height: 60px;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

.navbar.scrolled {
  background: rgb(0, 21, 50);
  transition: background 500ms;
}

.player-div {
    margin-top: 50px;
    margin-bottom: 50px;
}



