body {
    background-color: rgb(184, 189, 190);
    font-family: 'Fjalla One', sans-serif;

}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: rgb(105, 190, 40);
}

#nav-logo {
    height: 60px;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

.navbar.scrolled {
  background: rgb(0, 21, 50);
  transition: background 500ms;
}

.player-div {
    margin-top: 100px;
    margin-bottom: 100px;
}

@media (max-width: 1200px) {
    #headingGroup {
margin-top: 140px;
margin-bottom: 90px;
    }
  }

  @media (max-width: 766px) {
      .player-info {
          margin-top: 25px;
      }
  }

.footer {
    background: rgb(105, 190, 40);
}

#footer-txt {
    color: rgb(0, 21, 50);
    margin: 0 auto;
    text-align: center;
    font-size: .8em;
    font-weight: 100;
}


